.dark {
  --white: #1b1b1c;
  --player-color: #FFF;

  --gray-50: #2a2a2b;
  --gray-100: #202020;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #7c7c7c;

  --green-500: #04D361;
  
  --purple-300: #9F75FF;
  --purple-400: #9164FA; 
  --purple-500: #8257E5;
  --purple-800: #6F48C9;
}